@model Delivery.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
@if (User.Identity.IsAuthenticated)
{
    <h2>Создание</h2>

}
else
{
    <h2>Регистрация</h2>
    
}

<form asp-action="Register" asp-controller="Account" asp-anti-forgery="true" class="needs-validation" novalidate enctype="multipart/form-data">
    @Html.ValidationSummary(true)
    <div class="validation" asp-validation-summary="ModelOnly"></div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="UserName" class="form-label">Введите логин пользователя</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="form-label">Введите Email</label>
                <input type="email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Password" class="form-label">Введите пароль</label>
                <input asp-for="Password" class="form-control" id="password" required/>
                <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                    <i class="fas fa-eye-slash"></i>
                </button>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="form-label">Повторите пароль</label>
                <input asp-for="ConfirmPassword" class="form-control" id="confirmPassword" required/>
                <button class="btn btn-outline-secondary" type="button" id="toggleConfirmPassword">
                    <i class="fas fa-eye-slash"></i>
                </button>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NickName" class="form-label">Имя пользователя</label>
                <input asp-for="NickName" class="form-control" />
                <span asp-validation-for="NickName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile">Изображение</label>
                <input asp-for="ImageFile" type="file" name="ImageFile" class="form-control">
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-group">
        @if (User.Identity.IsAuthenticated)
        {
            <button type="submit" class="btn btn-primary">Создать</button>

        }
        else
        {
            
            <button type="submit" class="btn btn-primary">Регистрация</button>
        }
    </div>
</form>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
