@model Establishment

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>Добавить заведение</h1>

<form asp-action="Create" method="post" asp-anti-forgery="true" class="needs-validation" novalidate enctype="multipart/form-data">
    @Html.ValidationSummary(true)
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageFile">Изображение</label>
        <input asp-for="ImageFile" type="file" name="ImageFile" class="form-control">
        <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Добавить заведение</button>
    </div>
</form>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

